<section class="hero-container">
    <div class="hero-title">
        <p>> Ahmad Allan</p>
    </div>
    <div class="hero-description">
       I'm a full-stack web developer under training, my goal is to build simple and beautiful websites.
    </div>
</section>

<div class=fakeMenu>
    <div class="fakeButtons fakeClose"></div>
    <div class="fakeButtons fakeMinimize"></div>
    <div class="fakeButtons fakeZoom"></div>
  </div>
  <div class="fakeScreen">
    
    <p>[ahmad@terminal ~]$ <span class="typewriter">ahmad --living</span></p>
    <p>&nbsp;> Amman, Jordan</p>
    <br>
    <p>[ahmad@terminal ~]$ ahmad --full --education</p>
    <p>&nbsp;> Al-Balqa Applied University</p>
    <p>&nbsp;> Undergraduate</p>
    <p>&nbsp;> Third year</p>
    <br>
    <p>[ahmad@terminal ~]$ ahmad --intrests</p>
    <p>&nbsp;> Full-stack web development</p>
    <br>
    <p>[ahmad@terminal ~]$ ahmad --skills</p>
    <p>&nbsp;> Front-end: [Html, css, javascript, Angular]</p>
    <p>&nbsp;> Back-end: Java (still did not get here in my training)</p>
    <p>&nbsp;> phone & computer repairing (Software & Hardware)</p>
    <br>
    <p>[ahmad@terminal ~]$ ahmad --Contact</p>
    <p>&nbsp;> [<a href="https://github.com/AhmadAllan">Github</a>,  <a href="https://www.linkedin.com/in/ahmad-allan-95a88b223/"> Linkedin</a>,  <a href="mailto:aaa200265@gamil.com">aaa200265@gamil.com</a>]</p>
</div>