h1 {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}
.main-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px;
}

.item {
    border: 1px solid black;
    padding: 15px;
}

button{
    display: inline-block;
    justify-self: center;
    align-self: center;

    width: 100px;
    height: 50px;
}