<h1>Here Lies My Gems</h1>
<hr>
<div class="main-container">
    <p class="name item"><a href="">Portfolio</a></p>
    <p class="desc item">My personal home page that containe some information about me</p>
    <button><a href="https://github.com/AhmadAllan/portfolio">Live Preview</a></button> <button><a href="">View Code</a></button>

    <p class="name item">Weathering With Me</p>
    <p class="desc item">a Page containe basic information about weather in jordan, but you can create your own weather stack to keep up with the weather</p>
    <button>Live Preview</button> <button>View Code</button>

    <p class="name item">Weathering With Me</p>
    <p class="desc item">a Page containe basic information about weather in jordan, but you can create your own weather stack to keep up with the weather</p>
</div>
